*{
    margin: 0;
}

body{
    background-color: black;
}

$path:'M 43 179.927 C 64.678 179.927 128.633 191.767 139.111 179.927 C 192.176 119.962 235.77 233.186 299.337 179.927 C 314.505 167.219 377.575 119.962 427.444 179.927 C 440.345 195.439 477.422 239.892 523.556 179.927 C 534.393 165.841 604.776 125.244 649.247 185.209 C 660.062 199.793 686.42 215.993 750.64 185.825 C 774.793 174.479 798.698 177.488 830.905 178.871';
$path1:"M 134.631 364.315 C 185.743 338.368 219.787 386.466 257.842 397.633 C 269.787 399.453 288.041 398.096 294.575 390.622 C 305.558 378.059 303.92 382.522 314.026 372.944 C 326.871 360.77 354.532 357.265 370.722 364.414 C 385.601 370.984 398.096 373.858 413.013 380.516 C 428.351 387.362 441.065 396.185 455.415 400 C 484.203 407.654 506.699 390.021 527.773 368.968 C 544.045 352.712 578.704 379.88 597.064 386.944 C 615.335 393.974 628.909 404.191 644.605 400 C 667.48 393.892 667.92 391.606 686.304 376.863 C 707.215 360.093 744.07 360.418 773.526 374.455 C 796.022 385.175 822.622 382.867 845.334 372.611"        ;
$path2:"M 141.284 352.541 C 192.396 326.594 226.44 374.692 264.495 385.859 C 276.44 387.679 294.694 386.322 301.228 378.848 C 312.211 366.285 310.573 370.748 320.679 361.17 C 333.524 348.996 361.185 345.491 377.375 352.64 C 392.254 359.21 404.749 362.084 419.666 368.742 C 435.004 375.588 447.718 384.411 462.068 388.226 C 490.856 395.88 513.352 378.247 534.426 357.194 C 550.698 340.938 585.357 368.106 603.717 375.17 C 621.988 382.2 635.562 392.417 651.258 388.226 C 674.133 382.118 674.573 379.832 692.957 365.089 C 713.868 348.319 750.723 348.644 780.179 362.681 C 802.675 373.401 829.275 371.093 851.987 360.837"   ;
$path3:"M 147.829 341.073 C 198.941 315.126 232.985 363.224 271.04 374.391 C 282.985 376.211 301.239 374.854 307.773 367.38 C 318.756 354.817 317.118 359.28 327.224 349.702 C 340.069 337.528 367.73 334.023 383.92 341.172 C 398.799 347.742 411.294 350.616 426.211 357.274 C 441.549 364.12 454.263 372.943 468.613 376.758 C 497.401 384.412 519.897 366.779 540.971 345.726 C 557.243 329.47 591.902 356.638 610.262 363.702 C 628.533 370.732 642.107 380.949 657.803 376.758 C 680.678 370.65 681.118 368.364 699.502 353.621 C 720.413 336.851 757.268 337.176 786.724 351.213 C 809.22 361.933 835.82 359.625 858.532 349.369"    ;
$path4:"M 147.829 333.018 C 198.941 307.071 232.985 355.169 271.04 366.336 C 282.985 368.156 301.239 366.799 307.773 359.325 C 318.756 346.762 317.118 351.225 327.224 341.647 C 340.069 329.473 367.73 325.968 383.92 333.117 C 398.799 339.687 411.294 342.561 426.211 349.219 C 441.549 356.065 454.263 364.888 468.613 368.703 C 497.401 376.357 519.897 358.724 540.971 337.671 C 557.243 321.415 591.902 348.583 610.262 355.647 C 628.533 362.677 642.107 372.894 657.803 368.703 C 680.678 362.595 681.118 360.309 699.502 345.566 C 720.413 328.796 757.268 329.121 786.724 343.158 C 809.22 353.878 835.82 351.57 858.532 341.314";
$path5:"M 147.829 319.229 C 198.941 293.282 232.985 341.38 271.04 352.547 C 282.985 354.367 301.239 353.01 307.773 345.536 C 318.756 332.973 317.118 337.436 327.224 327.858 C 340.069 315.684 367.73 312.179 383.92 319.328 C 398.799 325.898 411.294 328.772 426.211 335.43 C 441.549 342.276 454.263 351.099 468.613 354.914 C 497.401 362.568 519.897 344.935 540.971 323.882 C 557.243 307.626 591.902 334.794 610.262 341.858 C 628.533 348.888 642.107 359.105 657.803 354.914 C 680.678 348.806 681.118 346.52 699.502 331.777 C 720.413 315.007 757.268 315.332 786.724 329.369 C 809.22 340.089 835.82 337.781 858.532 327.525"   ;
$path6:"M 154.878 307.455 C 205.99 281.508 240.034 329.606 278.089 340.773 C 290.034 342.593 308.288 341.236 314.822 333.762 C 325.805 321.199 324.167 325.662 334.273 316.084 C 347.118 303.91 374.779 300.405 390.969 307.554 C 405.848 314.124 418.343 316.998 433.26 323.656 C 448.598 330.502 461.312 339.325 475.662 343.14 C 504.45 350.794 526.946 333.161 548.02 312.108 C 564.292 295.852 598.951 323.02 617.311 330.084 C 635.582 337.114 649.156 347.331 664.852 343.14 C 687.727 337.032 688.167 334.746 706.551 320.003 C 727.462 303.233 764.317 303.558 793.773 317.595 C 816.269 328.315 842.869 326.007 865.581 315.751"  ;
$path7:"M 154.878 295.987 C 205.99 270.04 240.034 318.138 278.089 329.305 C 290.034 331.125 308.288 329.768 314.822 322.294 C 325.805 309.731 324.167 314.194 334.273 304.616 C 347.118 292.442 374.779 288.937 390.969 296.086 C 405.848 302.656 418.343 305.53 433.26 312.188 C 448.598 319.034 461.312 327.857 475.662 331.672 C 504.45 339.326 526.946 321.693 548.02 300.64 C 564.292 284.384 598.951 311.552 617.311 318.616 C 635.582 325.646 649.156 335.863 664.852 331.672 C 687.727 325.564 688.167 323.278 706.551 308.535 C 727.462 291.765 764.317 292.09 793.773 306.127 C 816.269 316.847 842.869 314.539 865.581 304.283"  ;
.dot {
    stroke:red;
    stroke-width:5;
    stroke-opacity: 0.7;
    fill:rgba(255, 0, 0, 0.876);
    filter: drop-shadow(0px 0px 1px red);   
  
}
.dot1{
    
    offset-path: path($path1);
    animation: followpath 10s 1.5s infinite both linear,blinkk 1s infinite alternate;
}
.dot2{
    offset-path: path($path2);
    animation: followpath 10s 0.2s infinite both linear,blinkk 0.4s infinite alternate;
}
.dot3{
    offset-path: path($path3);
    animation: followpath 10s 1.3s infinite both linear,blinkk 0.4s infinite alternate;
}
.dot4{
    offset-path: path($path4);
    animation: followpath 10s 0.1s infinite both linear,blinkk 0.4s infinite alternate;
}
.dot5{
    offset-path: path($path5);
    animation: followpath 10s 0.4s infinite both linear,blinkk 0.4s infinite alternate;
}
.dot6{
    offset-path: path($path6);
    animation: followpath 10s 1.4s infinite both linear,blinkk 0.4s infinite alternate;
}
.dot7{
    offset-path: path($path7);
    animation: followpath 10s 1s infinite both linear,blinkk 0.4s infinite alternate;
}

  @keyframes followpath {
      0%{
        stroke:aqua;
        stroke-width:3;
        stroke-opacity: 0.7;
        fill:aqua;
        filter: drop-shadow(0px 0px 1px aqua);
      }
     
     to {
       motion-offset: 100%;
       offset-distance: 100%;
     }
  }

@keyframes move {
    0%{
        stroke-dashoffset: 118%;
    }
    100%{
        stroke-dashoffset: 0%;
    }
}

@keyframes blinkk {
    to{
        opacity: 0.7;
    }
}
svg {
    height: max(400px);
    width: max(800px);
    grid-column:3/15 ;
    grid-row: 1/-1;
    
    .path{
    stroke-dashoffset: 4;
    stroke-dasharray: 5;
    stroke-width: 2;
    stroke-opacity: 0.3;
    fill:transparent;
    animation: move 50s infinite both linear;
    }
}
.wrapper{

    height: 400px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    .btn{
        stroke-width: 8;
        stroke-opacity: 0.9;
        filter: drop-shadow(0 0 4px white);
    }
    .btn1{
        left: 10% ;
        grid-column: 3/4;
        fill: #125170;
        stroke: #5B82A3;
    }
    .btn2{
        fill: #0C293B;
        left: 40% ;
        grid-column: 7/8;
        stroke: #5B82A3;
    }
    .btn3{
        left: 70% ;
        grid-column: 12/13;
        fill: #52301A;
        stroke: #E4995F;
    }
}

